In [3]:
import pandas as pd

Creamos dos datasets con información sobre turnos. El primero tiene información sobre pacientes, mientras que el segundo indica si se trata de un sobreturno. La idea es unir estos dos datasets

In [4]:
data1 = [
    ['10:00', 'Medico 0', 'Consulta', 'Paciente 0', '50'],
    ['10:30', 'Medico 1', 'Consulta', 'Paciente 1', '40'],
    ['10:30', 'Medico 2', 'Práctica', 'Paciente 2', '20'],
    ['11:00', 'Medico 1', 'Consulta', 'Paciente 3', '30']
]

data2 = [
    ['10:30', 'Medico 1', 'No'],
    ['10:30', 'Medico 2', 'Si'],
    ['11:00', 'Medico 1', 'No'],
    ['12:00', 'Medico 3', 'No'],
]

cols = ['Hora', 'Recurso', 'TipoDeTurno', 'Paciente', 'Edad']
df1 = pd.DataFrame(data1, columns=cols)


cols = ['Hora', 'Recurso', 'Sobreturno']
df2 = pd.DataFrame(data2, columns=cols)

In [5]:
df1

    Hora   Recurso TipoDeTurno    Paciente Edad
0  10:00  Medico 0    Consulta  Paciente 0   50
1  10:30  Medico 1    Consulta  Paciente 1   40
2  10:30  Medico 2    Práctica  Paciente 2   20
3  11:00  Medico 1    Consulta  Paciente 3   30

In [6]:
df2

    Hora   Recurso Sobreturno
0  10:30  Medico 1         No
1  10:30  Medico 2         Si
2  11:00  Medico 1         No
3  12:00  Medico 3         No

Podemos ver que ninguno de los dos datasets está completo en cuanto a registros. En el primero, falta el turno de las 12:00, mientras que en el segundo falta el de las 10:00. Ahora unimos los dos dataframes, manteniendo sólo los registros que tengan información en ambos. Para ello, indicamos cuáles son las columnas que deben coincidir (en este caso, Hora y Recurso)

In [7]:
cols = ['Hora', 'Recurso']
df1.merge(df2, on=cols)

    Hora   Recurso TipoDeTurno    Paciente Edad Sobreturno
0  10:30  Medico 1    Consulta  Paciente 1   40         No
1  10:30  Medico 2    Práctica  Paciente 2   20         Si
2  11:00  Medico 1    Consulta  Paciente 3   30         No